.user-form {
    display: none;
}

.dropdown {
    transition: all 0.2s ease-in-out;
    overflow: hidden;
    margin: 20px;
    background: #457b9d;
    border: solid 1px rgb(222, 222, 222);
    width: 20%;
    cursor: pointer;
  }
  .icon {
    display: flex;
    justify-content: space-between;
    padding: 0 25px 0 10px;
  }
  .menu {
    height: 60px;
  }
  .menu li {
    font-size: 14px;
    text-transform: uppercase;
    padding: 10px 10px;
    /* border-top: solid 1px rgb(202, 202, 202); */
  }
  .dropdown.closed .menu {
    height: 50px;
  }
  .dropdown.closed .icon span {
    transform: rotate(180deg);
  }