.create-form-div {
    padding: 1rem;
    width: stretch;
    height: auto;
    display: none;
    opacity: .8;
  }

  nav {
    padding: 200
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 20;
    overflow: hidden;
    background-color: #F6AE2D;
  }

  nav button {
    padding: 10px;
    font-size: 20px;
  }

  nav li {
    float: left;
  }
  
  nav li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  h1 { padding:30px; text-align: center; color: #33658A; font-family: 'Trocchi', serif; font-size: 45px; font-weight: normal; line-height: 48px; margin: 0; }


 h2 h3 { text-align: center; color: #33658A; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 30px; font-weight: 400; line-height: 32px; margin: 0 0 24px; } 
  
  
  p { color: #33658A; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 18px; line-height: 32px; margin: 0 0 24px; }
  
  
  a:hover { color: #F6AE2D }

ul {
  list-style: none;
}

body {
  color: #707d85;
  background-color: #2F4858;
}

button {
  text-align: center;
  border: none;
  background-color: #F6AE2D;
  color: #2F4858;
}

.submit {
  padding: 5px;
  border: none;
  background-color: #F6AE2D;
 color: #2F4858;
}

input {
  background-color: #86BBD8;
 
}

select {
  background-color: #86BBD8;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

#list {
  font-size: 20px;
}

