.user-form {
    display: none;
}

#choice-container{
  display: flex;
  margin: 0.8rem;
  width: 20%;
  border-radius: 4px;
  min-width: 80rem;
  background: #F6AE2D;
  color: #2F4858;
  padding: 2rem 2.5rem;
  text-align: center;
 }


#choice-container:hover{
   cursor: pointer;
   box-shadow: 0 0.4rem 1.4rem #2F4858;
   opacity: 0.5;
   transform: scale(1.02);
   transform: transform 100ms;
 }

 @media screen and (max-width: 768px){
   #choice-container {
     min-width: 40rem;
     font-size: 2rem;
   }
 }

 /* #hud{
   text-align: left;
   justify-content: space-between;
   display: inline;
 } */
.hud-prefix{
  text-align: left;
  font-size: 2rem;
 display: inline;
}
.hud-main-text{
  text-align: left;
}
 #progressBar{
   width: 20rem;
   height: 3rem;
   border: 0.2rem solid #F6AE2D;
   margin-top: 2rem;
   border-radius: 50px;
   overflow: hidden;
   width: 20%;
 }
 #progressBarFull{
   height: 100%;
   background: #F6AE2D;
   width: 0%;
 }
 #score{
   text-align: left;
 }

.trivia-container{
  width:100%;
  text-align: center;
  overflow: auto;
}
.trivia-container ::after{
  content: " ";
  clear: both;
  display: table;
}
/* div.hud-item{
  float: right;
} */
.add-question-form{
display: none;
}

ol{
  font-size: 2rem;
}

#questions{
  font-size: 2rem;
  text-align: center;
  
}