.user-form {
    display: none;
}

#choice-container{
  display: flex;
  margin: 0.8rem;
  width: 100%;
  border-radius: 4px;
  min-width: 80rem;
  background: #F6AE2D;
  color: #2F4858;
  padding: 2rem 2.5rem;
 }


#choice-container:hover{
   cursor: pointer;
   box-shadow: 0 0.4rem 1.4rem #2F4858;
   opacity: 0.5;
   transform: scale(1.02);
   transform: transform 100ms;
 }

 @media screen and (max-width: 768px){
   #choice-container {
     min-width: 40rem;
   }
 }
  /* body {
    display: grid;
    grid-template-columns: 2fr 8fr
  }
img{
  width: 400px;
  height: 400px;
} */
  /* .quest {
    
  } */

  /* .container{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #86BBD8;
